apt-transport-https
default-jre
wget 
default-jdk
git
cmake
build-essential
libgmp-dev
libeigen3-dev
libboost-all-dev
ginac-tools
libginac-dev
libcln-dev
autoconf
glpk-utils
hwloc
libglpk-dev
libhwloc-dev
libz3-dev
libxerces-c-dev
automake
libz3-dev 
graphviz
software-properties-common
build-essential
libmpfr-dev 
libgmp3-dev 
libmpc-dev
libcln-dev
ginac-tools
libginac-dev
build-essential 
automake 
libglpk-dev 
libhwloc-dev 
libz3-dev 
libxerces-c-dev 
libeigen3-dev
